
###  In this notebook we will clean all the data and put it at on place in sql file. 
    Structure of sql file.
        -- jokes
        -- ratings
        
    We have jokes html file and ratings csv file. We will extract the joke and put it into sql data base as jokes table
    We will put all the ratings into ratings table

    Cleaning HTML file to extract joke data!

In [1]:
import re
import os
import codecs
import pandas as pd
import html2text
import numpy as np

In [2]:
file = 'init1.html'
data = codecs.open('data/raw/jokes/' + file, 'r', encoding="cp1252")
joke_html = data.read()

# Extracting joke
joke = html2text.html2text(joke_html)
# Extracting joke_id
joke_id = int(file.split('init')[1].split('.html')[0])

print(joke_id)
print(joke)

1

A man visits the doctor. The doctor says "I have bad news for you.You have
cancer and Alzheimer's disease".

The man replies "Well,thank God I don't have cancer!"

In [3]:
# creating a method that input the location of html file and output joke 
def joke_extractor(file):
    data = codecs.open(file, 'r', encoding="cp1252")
    joke_html = data.read()
    joke = html2text.html2text(joke_html)
    joke_id = int(file.split('init')[1].split('.html')[0])
    return (joke_id, joke)

In [4]:
files = os.listdir('data/raw/jokes')
jokes_list = [joke_extractor('data/raw/jokes/'+ file) for file in files if file.endswith('.html') ]
df = pd.DataFrame(jokes_list, columns=['joke_id', 'joke'])
df.head()

   joke_id                                               joke
0       95    \n  \nJust a thought ..\n\nBefore criticizin...
1        1    \nA man visits the doctor. The doctor says "...
2       83    \n_What a woman says_ :  \n"This place is a ...
3       17  |  \n\n  \nHow many men does it take to screw ...
4       40  |  \n\n  \nHow many Irishmen does it take to c...

In [5]:
df.to_csv('data/jokes.csv', index = None)

### Saving ratings data into sql table !!
-------------------------------------------------

In [6]:
dataframe = pd.DataFrame()

df1 = pd.read_excel('data/raw/jester-data-1.xls', header = None) 
#df2 = pd.read_excel('data/raw/jester-data-2.xls', header = None) 
#df3 = pd.read_excel('data/raw/jester-data-3.xls', header = None) 
dataframe =  pd.concat([df1], axis=0)

In [7]:
dataframe.columns

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
             91,  92,  93,  94,  95,  96,  97,  98,  99, 100],
           dtype='int64', length=101)

    Since ratings have no user name or any user identification tag, we we give them user id

In [8]:
user_id = np.linspace(1, len(dataframe), len(dataframe))
dataframe.insert(0, 'user_id', user_id)
dataframe = dataframe.rename({0: 'number_of_jokes_rated'}, axis='columns')
for i in range(1, 100):
    dataframe = dataframe.rename({i: 'joke_'+str(i)}, axis='columns')
dataframe = dataframe.astype({"user_id": int})
dataframe.head()

,user_id,number_of_jokes_rated,joke_1,joke_2,joke_3,joke_4,joke_5,joke_6,joke_7,joke_8,...,joke_91,joke_92,joke_93,joke_94,joke_95,joke_96,joke_97,joke_98,joke_99,100
0,1,74,-7.82,8.79,-9.66,-8.16,-7.52,-8.50,-9.85,4.17,...,2.82,99.00,99.00,99.00,99.00,99.00,-5.63,99.00,99.00,99.00
1,2,100,4.08,-0.29,6.36,4.37,-2.38,-9.66,-0.73,-5.34,...,2.82,-4.95,-0.29,7.86,-0.19,-2.14,3.06,0.34,-4.32,1.07
2,3,49,99.00,99.00,99.00,99.00,9.03,9.27,9.03,9.27,...,99.00,99.00,99.00,9.08,99.00,99.00,99.00,99.00,99.00,99.00
3,4,48,99.00,8.35,99.00,99.00,1.80,8.16,-2.82,6.21,...,99.00,99.00,99.00,0.53,99.00,99.00,99.00,99.00,99.00,99.00
4,5,91,8.50,4.61,-4.17,-5.39,1.36,1.60,7.04,4.61,...,5.19,5.58,4.27,5.19,5.73,1.55,3.11,6.55,1.80,1.60

#### Also saving a copy of data into csv format !

In [9]:
dataframe.to_csv('data/jester_jokes_rating.csv', index = None)

-----------------------------------------------
                                                        END

-----------------------------------